.footer3 {
  background-color: #24252a;
  padding: 1.5rem 2rem;
  color: #b1b1b1;
  font-size: 0.9rem;
}

.footer-container3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.footer-left3 {
  flex: 1;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  color: #888;
  font-size: 20px;
  transition: color 0.3s ease;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  border-radius: 50%;
}

.social-icons a:hover {
  color: #fff;
  border-color: #fff;
}


.footer-center3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footer-logo3 {
  max-width: 4rem;
  opacity: 0.8;
  filter: grayscale(100%);
}

.footer-right3 {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  color: #a7a7a7;
}