@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #111;
}

.hero_section {
  width: 100%;
  overflow: hidden;
}

.slider_tabs input {
  display: none;
}

.labels {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.labels label {
  height: 18px;
  width: 18px;
  background-color: #5289ba;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.slider_tabs input:nth-child(1):checked ~ .labels label:nth-child(1),
.slider_tabs input:nth-child(2):checked ~ .labels label:nth-child(2),
.slider_tabs input:nth-child(3):checked ~ .labels label:nth-child(3),
.slider_tabs input:nth-child(4):checked ~ .labels label:nth-child(4),
.slider_tabs input:nth-child(5):checked ~ .labels label:nth-child(5) {
  width: 60px;
  border-radius: 20px;
  background-color: #20486b;
}

.hero_content_wrapper {
  overflow: hidden;
}

.hero_content {
  display: flex;
  width: 500vw;
  transition: all 0.5s ease-in-out;
  position: relative;
  left: 0;
}

.slider_tabs input:nth-child(1):checked ~ .hero_content_wrapper .hero_content {
  left: 0vw;
}
.slider_tabs input:nth-child(2):checked ~ .hero_content_wrapper .hero_content {
  left: -100vw;
}
.slider_tabs input:nth-child(3):checked ~ .hero_content_wrapper .hero_content {
  left: -200vw;
}
.slider_tabs input:nth-child(4):checked ~ .hero_content_wrapper .hero_content {
  left: -300vw;
}
.slider_tabs input:nth-child(5):checked ~ .hero_content_wrapper .hero_content {
  left: -400vw;
}

.hero_box {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slider1_bg {
  background-color: #121212;
}
.slider2_bg {
  background: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}
.slider3_bg {
  background: white;
}
.slider4_bg {
  background: linear-gradient(315deg, #d16ba5 0%, #86a8e7 74%);
  background-image: url("../img/lolbg.png");
  background-size: cover;
  background-position: center;
}
.slider5_bg {
  background: linear-gradient(315deg, #000000 0%, #000000 74%);
}

.content {
  max-width: 900px;
  text-align: center;
}

.heading_1 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.desc {
  font-size: 1.2rem;
  padding: 1rem 2rem;
  background-color: white;
  color: #111;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 4rem;
}